:root {
  --bg-color: #fff;
  --text-color: #000;
  --card-bg-color: #f8f9fa;
}

[data-theme='dark'] {
  --bg-color: #121212;
  --text-color: #fff;
  --card-bg-color: #1e1e1e;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.card {
  background-color: var(--card-bg-color);
}
